@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#all-body{
    background-color: #EAEAEA;
}
body, html{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    
}

/*a{
    color:#FFFFFA !important;
}
*/
.bg {
    background-color: #EAEAEA;
    height: 100%;
  }

.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

#sidebar-container{
    min-height: 100vh;
    background-color: darkslateblue;
}

#header1{
    padding-top : 90px;
    padding-bottom: 30px;
}

#navbar-style{
    background-color: #1D3E61;
}

#navbar-style a{
    color:#FFFFFA !important;
}
#text-style{
    color:#FFFFFA;
}

.form-btn{
    background-color:#333138;
}
.link_operacion{
    color: black;
}
.link_operacion,a:link,a:visited,a:active{
    text-decoration: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #1D3E61;
    
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #1D3E61;
    text-align: center;
    color: white;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
.album{
    background-color: none;
}
#lista_links_sidebar{
    color: white;
}
#lista_links_sidebar a{
    color: white;
}
.card-body{
    padding-top: 100px;
}
.table .thead-dark th {
    color: #fff;
    background-color: #1D3E61;
    border-color: #1D3E61;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-color: black;
}
.tabla-users{
    padding-top: 50px;
}
.navbar-search{
    background-color: none;
    position: left;
}
#footer{
    background-color:#1D3E61;
}
.col-6{
    padding-left: 100px;
}
#img-index{
    padding-top: 50px;
    height: 50%;
    
}

#img-about-us{
    padding-bottom: 20px;
    max-width: 50%;
    
}
#div-img-about-us{
    text-align: center;
}
/*textarea { 
    width: 200px; 
    min-width:200px; 
    max-width:200px; 
  
    height:200px; 
    min-height:200px;  
    max-height:200px;
}

.border{
    width: 300px;
    height: 320px;
    border-radius: 30px;
    background: rgba(245, 238, 227, 0.568);
    border-width: 3px !important;
    text-align: center !important;
    padding: 30px;
}
*/
.form-control:focus {
    border-color: none;

  }
