@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, html{
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

/*a{
    color:#FFFFFA !important;
}
*/
.bg {
    background-color: #EAEAEA;
    height: 100%;
  }

.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

#sidebar-container{
    min-height: 100vh;
    background-color: darkslateblue;
}

#header1{
    padding-top : 90px;
    text-align : center;
}

#navbar-style{
    background-color: #515052;
}

#navbar-style a{
    color:#FFFFFA !important;
}
#text-style{
    color:#FFFFFA;
}

.form-btn{
    background-color:#333138;
}
.link_operacion{
    color: black;
}
.link_operacion,a:link,a:visited,a:active{
    text-decoration: none;
}
/*
.border{
    width: 300px;
    height: 320px;
    border-radius: 30px;
    background: rgba(245, 238, 227, 0.568);
    border-width: 3px !important;
    text-align: center !important;
    padding: 30px;
}
*/
