body, html{
    height: 100%;
}

.bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.border{
    width: 300px;
    height: 320px;
    border-radius: 30px;
    background: rgba(245, 238, 227, 0.568);
    border-width: 3px !important;
    text-align: center !important;
    padding: 30px;

}

#header1{
    padding-top : 90px;
    text-align : center;
}

#imagen1,#imagen2,#imagen3{
    width : 1000px;
    height : 350px;
}

.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}
